<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sample Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="flex justify-between py-4 px-10 bg-slate-200">
    <div class="text-lg font-bold">Sample Website</div>
    <div>
      <a class="github-button" href="https://github.com/bodinsamuel/sample-website"
        data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large"
        aria-label="Star bodinsamuel/sample-website on GitHub">Star</a>
    </div>
  </header>
  <main class="w-full px-10 py-10 ">
    <p>This website contains different pages to test your crawler or your tools</p>

    <div class="flex flex-wrap w-full gap-8 mt-10">
      <% Object.entries(list).map(([category, list])=> { -%>
        <div class="w-1/4 grow rounded-md border px-4">
          <h2 class="font-bold text-md capitalize mt-2">
            <%= category %>
          </h2>
          <div class="my-4">
            <ul class="flex flex-col gap-3">
              <% list.map(({path, desc})=> { -%>
                <li>
                  <div class="flex gap-2">
                    <div>GET</div><a href=<%=path%> class="underline text-blue-400"><%= path %></a>
                  </div>
                  <div class="text-sm">
                    <%= desc %>
                  </div>
                </li>
                <% }) -%>
            </ul>
          </div>
        </div>

        <% }) -%>
    </div>
  </main>
  <footer>
    <div></div>
  </footer>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
